#h1{
    text-align: center;
}
/**  style image  **/
.img1 {
    height: 20%;
    width: 20%;
    margin: 20px;

}
.img2 {
    height: 20%;
    width: 20%;
    margin: 20px;
}
.img3 {
    height: 20%;
    width: 20%;
    margin: 20px;
}
/**   style Div   **/
.container{
    background-color: rgb(161, 157, 157);
    height: 700px;
    width: 750px;
}
.block1{
    background-color: rgb(246, 248, 250);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
.block2{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
.block3{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}